packages/n8n-nodes-flair/examples/ks-review-capture/workflow.json
{
  "name": "K&S review capture → Flair",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Walk Flint's TPS-mail inbox and emit one item per .json mail file.\n// Single Code node replaces the older ls + Split + Read + Parse chain\n// because (a) it's atomic — no node-version drift to chase, (b) it's\n// portable to any maildir-shaped source by changing the path, (c) n8n's\n// ExecuteCommand stdout-as-string didn't play nicely with Item Lists\n// when filenames had spaces or odd chars.\n//\n// Each emitted item: { mail: <parsed JSON>, _file: <basename> }.\nconst fs = require('fs');\nconst path = require('path');\nconst INBOX = '/Users/squeued/.tps/mail/flint/new';\n\nlet entries;\ntry {\n  entries = fs.readdirSync(INBOX);\n} catch (err) {\n  // Inbox missing is not an error condition — first ever run on a fresh\n  // box can legitimately have no inbox yet.\n  if (err.code === 'ENOENT') return [];\n  throw err;\n}\n\nconst items = [];\nfor (const f of entries) {\n  if (!f.endsWith('.json')) continue;\n  const full = path.join(INBOX, f);\n  try {\n    const content = fs.readFileSync(full, 'utf8');\n    const mail = JSON.parse(content);\n    items.push({ json: { mail, _file: f } });\n  } catch (err) {\n    // Skip malformed mail files — they'll surface in a later sweep when\n    // the file is rewritten cleanly, or get cleaned up via the gc loop.\n    continue;\n  }\n}\nreturn items;\n"
      },
      "id": "read-inbox",
      "name": "Read TPS-mail inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter to K&S only. Could use n8n's Filter node, but the\n// containedInList operator's rightValue parsing varies across n8n\n// versions — easier to keep the predicate explicit here.\nconst KS = new Set(['kern', 'sherlock']);\nreturn $input.all().filter((item) => KS.has(item.json.mail?.from));\n"
      },
      "id": "filter-ks",
      "name": "Filter K&S only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Dedup: skip mails we've already written to Flair.\n// Uses workflow static data as a compact processed-id set so we don't\n// re-write a memory every 5-min tick for files that haven't been drained\n// from flint/new/ yet.\nconst staticData = $getWorkflowStaticData('global');\nstaticData.processedIds = staticData.processedIds || {};\n\nconst out = [];\nfor (const item of $input.all()) {\n  const mail = item.json.mail;\n  const id = mail.id;\n  if (!id || staticData.processedIds[id]) continue;\n  staticData.processedIds[id] = new Date().toISOString();\n  // Trim if it gets large — keep last 4000 of the most recent 5000.\n  const ids = Object.keys(staticData.processedIds);\n  if (ids.length > 5000) {\n    const sortedByTime = ids.sort((a, b) => (staticData.processedIds[a] < staticData.processedIds[b] ? -1 : 1));\n    for (const old of sortedByTime.slice(0, 1000)) delete staticData.processedIds[old];\n  }\n  out.push({ json: { mail } });\n}\nreturn out;\n"
      },
      "id": "dedup",
      "name": "Skip already-written",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the memory before write: build content, derive tags, set subject.\nfor (const item of $input.all()) {\n  const m = item.json.mail;\n  const ts = m.timestamp || new Date().toISOString();\n  const day = ts.slice(0, 10);\n  const prMatch = (m.body || '').match(/#(\\d{2,5})/);\n  const prTag = prMatch ? `pr:${prMatch[1]}` : null;\n  const content = [\n    `${m.from} review note (${day}):`,\n    '',\n    m.body,\n  ].join('\\n');\n  const tags = [\n    'source:tps-mail',\n    'kind:review',\n    `agent:${m.from}`,\n    `date:${day}`,\n    prTag,\n  ].filter(Boolean).join(', ');\n  const subject = prTag ? `pr-${prMatch[1]}` : `${m.from}-${day}`;\n  item.json = {\n    ...item.json,\n    content,\n    tags,\n    subject,\n  };\n}\nreturn $input.all();\n"
      },
      "id": "format",
      "name": "Format memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "content": "={{ $json.content }}",
        "subject": "={{ $json.subject }}",
        "tags": "={{ $json.tags }}",
        "durability": "persistent",
        "type": "decision",
        "skipEmpty": true
      },
      "id": "flair-write",
      "name": "Flair Write",
      "type": "@tpsdev-ai/n8n-nodes-flair.flairWrite",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "flairApi": {
          "id": "REPLACE-ME",
          "name": "Flair (rockit)"
        }
      }
    }
  ],
  "connections": {
    "Every 5 min": {
      "main": [
        [{ "node": "Read TPS-mail inbox", "type": "main", "index": 0 }]
      ]
    },
    "Read TPS-mail inbox": {
      "main": [
        [{ "node": "Filter K&S only", "type": "main", "index": 0 }]
      ]
    },
    "Filter K&S only": {
      "main": [
        [{ "node": "Skip already-written", "type": "main", "index": 0 }]
      ]
    },
    "Skip already-written": {
      "main": [
        [{ "node": "Format memory", "type": "main", "index": 0 }]
      ]
    },
    "Format memory": {
      "main": [
        [{ "node": "Flair Write", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "flair",
      "createdAt": "2026-05-11T15:50:00.000Z"
    },
    {
      "name": "dogfood",
      "createdAt": "2026-05-11T15:50:00.000Z"
    }
  ]
}
